# ignore local uploaded dev media
media/

# ignore python cache
__pycache__/
venv/
__pycache__/
*.py[cod]
*$py.class

# ignore vim caches
*.swp

# ignore terraform
terraform/.terraform/*
.terraform/*
*.tfstate
*.tfstate.*
crash.logs
*.tfvars

# VS code
.vscode

# Sqlite in memory store
:memory

# GCP SQL Proxy
cloud_sql_proxy
